@tailwind base;
@tailwind components;
@tailwind utilities;

.overlay {
  position: absolute;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

/* スクロールバーを非表示にするスタイル */
.hide-scrollbar::-webkit-scrollbar {
  width: 0.5em;
}

.hide-scrollbar::-webkit-scrollbar-thumb {
  background-color: transparent;
}
